

* {
  box-sizing: border-box;
  text-align: center;
  background-color: #777

}

header {
  padding: 20px;
  margin-bottom: 5px;		
  color: #333;
  background: #ebebeb;
}

#nav {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ebebeb;
}

#sectionleft {
	padding: 20px;
	margin-bottom: 5px;
	color: #333;
	background: #ebebeb;
	float: left;
	width: 49%;
}

#aside {
	padding: 20px;
	margin-bottom: 5px;
	color: #333;
	background: #ebebeb;
	float: left;
	width: 50%;
	margin-left: 10px;
	height: 300px;
}

footer {
  padding: 20px;
  clear: both;
  background: #ebebeb		;
}

#article {
	 padding: 5px;
 	 margin-top: 20px;
 	 background: #777;

}	

#paragraph {
	padding: 20px;
	margin-top: 20px;
	background: #ebebeb	;
}